/* styles/Footer.module.css */
.footer {
    background: #143774;
    color: white;
    text-align: center;
    padding: 3em 0;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
  }
  
  .footer a:hover {
    text-decoration: underline;
    color: white;
  }
  